__pycache__/
*.pyc
db/
dev_tools/private_key.pem
dev_tools/issued_licenses/
build/
dist/
db_config.json
receipts/

# added for GitHub upload
node_modules/
venv/
.venv/
*.db
*.sqlite
*.exe
*.zip
*.rar
*.log
.env
.env.local
.vscode/
.idea/
.sixth/
.claude/
.dart_tool/
.codex_appdata/
*.xlsx
*.spec
bin/
obj/
.secret_key
private_key.pem
